<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NRCAutomationSuite">
	<listeners>
		<listener class-name="com.inn.nrc.util.ListnersNG"></listener>
	</listeners>
	<test thread-count="5" name="NRCAutomationTest">
		<classes>

			<class name="com.inn.nrc.testcases.LoginTest" />
			<class name="com.inn.nrc.testcases.HomePageTest" />
			<class name="com.inn.nrc.testcases.JobTaskListingTest" />
			<class name="com.inn.nrc.testcases.JobPageTest" />

		</classes>
	</test> <!-- NRCAutomationTest -->
</suite> <!-- NRCAutomationSuite -->